<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973590138722-0kcl9tactc4o0cpcsuf1i2n4i04r8449.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973590138722-0kcl9tactc4o0cpcsuf1i2n4i04r8449</string>
	<key>API_KEY</key>
	<string>AIzaSyAtfu_G1naqdlEqaqfRUrLZAp_u0peHv4k</string>
	<key>GCM_SENDER_ID</key>
	<string>973590138722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartherd.sandtgroup</string>
	<key>PROJECT_ID</key>
	<string>sandtgroup-30435</string>
	<key>STORAGE_BUCKET</key>
	<string>sandtgroup-30435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973590138722:ios:8e9f053c49914169bd663b</string>
	<key>DATABASE_URL</key>
	<string>https://sandtgroup-30435.firebaseio.com</string>
</dict>
</plist>